@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'beatrice';
    src: url(../fonts/BeatriceDisplay.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --jungle-green: #46a07aff;
    --cadmium-green: #026b3fff;
    --dark-green: #012e1bff;
    --black-coffee: #3a2e39ff;
    --fundo: #FAFFFD;
    --mint-cream: #ECF5F3ff;
    --aero-blue: #C9EFE0ff;
    --op-aero-blue: rgba(255, 255, 255, 0.493);
    --emerald: #00CC76ff;
    --op-emerald: rgba(0, 204, 119, 0.479);
    --british-racing-green: #13442Eff;
    font-family: 'Urbanist', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 40px;
    gap: 40px;
    background-color: var(--op-aero-blue);
    border-radius: 20px;
}

.title {
    font-size: 35px;
    text-align: center;
    color: var(--cadmium-green);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 35px;
}

.inputbox {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 40px;
    justify-content: center;
}

.inputbox label {
    position: relative;
    font-size: 18px;
    color: var(--cadmium-green);
    top: 0;
    left: 15px;
    transition: .5s;
    cursor: text;
}

.inputbox input {
    position: absolute;
    background-color: var(--op-aero-blue);
    border: 2px solid var(--op-aero-blue);
    width: 100%;
    outline: none;
    border-radius: 15px;
    height: 40px;
    padding: 15px;
    transition: all .6s;
}

.inputbox input::placeholder {
    visibility: hidden;
}

.inputbox input:focus {
    height: 100%;
    border-bottom: 1px solid var(--op-emerald);
}

.inputbox input:focus+label {
    top: -30px;
    left: 0;
}

.inputbox input:focus~label,
.inputbox input:valid~label {
    top: -30px;
    left: 0;
}

.inputbox input:focus::placeholder {
    visibility: visible;
}

.container button {
    justify-self: center;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--cadmium-green);
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
}

@media (max-width: 1100px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


/* body{
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
        }
        .box{
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 15px;
            width: 20%;
        }
        fieldset{
            border: 3px solid dodgerblue;
        }
        legend{
            border: 1px solid dodgerblue;
            padding: 10px;
            text-align: center;
            background-color: dodgerblue;
            border-radius: 8px;
        }
        .inputBox{
            position: relative;
        }
        .inputUser{
            background: none;
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            color: white;
            font-size: 15px;
            width: 100%;
            letter-spacing: 2px;
        }
        .labelInput{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            transition: .5s;
        }
        .inputUser:focus ~ .labelInput,
        .inputUser:valid ~ .labelInput{
            top: -20px;
            font-size: 12px;
            color: dodgerblue;
        }
        #data_nascimento{
            border: none;
            padding: 8px;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
        }
        #submit{
            background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
            width: 100%;
            border: none;
            padding: 15px;
            color: white;
            font-size: 15px;
            cursor: pointer;
            border-radius: 10px;
        }
        #submit:hover{
            background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
        } */