* {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
.search-box{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #75815b;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    font-family: Verdana, Tahoma, sans-serif;
}


.search-btn{
    color: #75815b;
    float: right;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.search-txt::placeholder{
    color: lightgrey;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;
}

.bx-search-alt{
    font-size: 20px;
    border-bottom: 0;
}

@media (max-width: 800px) {
    .search-box:hover > .search-btn{
        margin-top: -40px;
    }
}