.iti-emp{
    display: flex;
    justify-content: center;
    top: 20px;
    width: 600px;
    height: 820px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(40, 161, 71, 0.479);
    padding: 160px;
    backdrop-filter: blur(10px);
    position: relative;
    /* left: 255px; */
}
.iti-create{
    position: relative;
    padding: 3px;
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
    color: #012e1bff;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    left: 110px;

}

.box-iti{
    color:#012e1bff;
    position: relative;
}



section.secaoiti{
    align-items: center;
    justify-content: center;
    display: flex;
}


.button-dados{
    border-radius: 25px;
    background-color: #012e1bff;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    position: relative;
    left: 280px;
    margin-top: 10px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 150px;

}
.button-dados:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}
.button-sele{
    border-radius: 25px;
    background-color: #012e1bff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    margin-left: 0px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 150px;
}
.button-sele:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}
.form{
    width: 500px;
}
.itinenario{
    align-items: center;
    justify-content: center;
    display: flex;
}

.info-iti{
    margin-top: 5px;
    display: flex;

}

.info-iti-create .desc2{
    display: flex;
    align-items: center;
}
.info-iti-create .nameiti2{
    display: flex;
    align-items: center;

}

.info-iti-create .value2{
    display: flex;
    align-items: center;

}
.info-iti-create .select2{
    display: flex;
    align-items: center;

}
.info-iti-create{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -220px;
    margin-top: 10px;
}
.desc3:focus{
    background-color: #e3eccf;
}


.nameiti3{
    width: 100%;
    min-height: 30px;
    align-items: center;
    display:flex;
    border-radius: 10px;
    background-color:white ;
    border-width: medium;
    border-style: solid;
    border-color:white ;

}

.ende1{
  position: relative;
  left: 110px;
  width: 0px;
  
}

.ende3{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color:white;
    border: none;
    border-width: medium;
    border-style: solid;
    border-color:white ;
    width: 100%;
    outline: none;transition: .7s ease-in-out;
    position:  relative;
    left: 110px;

}
.select1{
    margin-top:25px;

}

label {
    margin-top: 20px;
}
.campo{
    margin-top: 40px;
}

.campo1 input{
    border-radius: 32px;
    padding: 7px;
    padding-left: 15px;
    outline: none;
    transition: .7s ease-in-out;
    border-bottom: 2px solid white;

}
.campo1 input:focus{
    background-color: #e3eccf;
}

.campo1 select {
    border-radius: 32px;
    outline: none;
    transition: .7s ease-in-out;
}



/* Menu responsivo */

@media screen and (max-width: 768px){
  .iti-emp{
    display: flex;
    justify-content: center;
    top: 20px;
    width: 85%;
    height: 800px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(40, 161, 71, 0.479);
    padding: 160px;
    backdrop-filter: blur(10px);
    position: relative;
    /* left: 255px; */
}
.iti-create{
    position: relative;
    padding: 3px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    color: #012e1bff;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    left: 135px;

}
.box-iti{
    color:#012e1bff;
    position: relative;
}



section.secaoiti{
    align-items: center;
    justify-content: center;
    display: flex;
}


.button-dados{
    border-radius: 25px;
    background-color: #012e1bff;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    position: relative;
    left: 178px;
    top: 8px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 150px;

}
.button-dados:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}
.button-sele{
    border-radius: 25px;
    background-color: #012e1bff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    margin-left: 0px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 150px;
}
.button-sele:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}

.itinenario{
    align-items: center;
    justify-content: center;
    display: flex;
}

.info-iti{
    margin-top: 5px;
    margin-left: 200px;
    display: flex;

}

.info-iti-create .desc2{
    display: flex;
    align-items: center;
}
.info-iti-create .nameiti2{
    display: flex;
    align-items: center;

}
.info-iti-create .ende2{
    display: flex;
    align-items: center;

}
.info-iti-create .value2{
    display: flex;
    align-items: center;

}
.info-iti-create .select2{
    display: flex;
    align-items: center;

}
.info-iti-create{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -220px;
    margin-top: 10px;
}
.desc3:focus{
    background-color: #e3eccf;
}


.nameiti3{
    width: 100%;
    min-height: 30px;
    align-items: center;
    display:flex;
    border-radius: 10px;
    background-color:white ;
    border-width: medium;
    border-style: solid;
    border-color:white ;

}

.ende1{
  position: relative;
  top: 15px;
  left: 58px;
  
}
.ende3{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color:white;
    border: none;
    border-width: medium;
    border-style: solid;
    border-color:white ;
    width: 80%;
    outline: none;transition: .7s ease-in-out;
    position: relative;
    top: 10px;
    left: 58px;
}

.select1{
    margin-top:25px;


}
label{
    margin-top: 20px;
}
.campo{
    margin-top: 40px;
}

.campo1 input{
    border-radius: 32px;
    padding: 7px;
    padding-left: 15px;
    outline: none;
    transition: .7s ease-in-out;
    border-bottom: 2px solid white;

}
.campo1 input:focus{
    background-color: #e3eccf;
}

.campo1 select {
    border-radius: 32px;
    outline: none;
    transition: .7s ease-in-out;
}


  
@media screen and (max-width: 500px){
  .iti-emp{
    display: flex;
    justify-content: center;
    top: 20px;
    width: 70%;
    height: 820px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(40, 161, 71, 0.479);
    padding: 160px;
    backdrop-filter: blur(10px);
    position: relative;
    /* left: 255px; */
}
.iti-create{
    position: relative;
    left: 135px;
    width: 50%;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    color: #012e1bff;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

    

}
.box-iti{
    color:#012e1bff;
    position: relative;

}



section.secaoiti{
    align-items: center;
    justify-content: center;
    display: flex;
}


.button-dados{
    border-radius: 25px;
    background-color: #012e1bff;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    position: relative;
    left: 170px;
    margin-top: 10px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 150px;

}
.button-dados:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}
.button-sele{
    border-radius: 25px;
    background-color: #012e1bff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    margin-left: 0px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 150px;
}
.button-sele:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}

.itinenario{
    align-items: center;
    justify-content: center;
    display: flex;
}

.info-iti{
    margin-top: 5px;
    margin-left: 200px;
    display: flex;

}

.info-iti-create .desc2{
    display: flex;
    align-items: center;
}
.info-iti-create .nameiti2{
    display: flex;
    align-items: center;

}
.info-iti-create .ende2{
    display: flex;
    align-items: center;

}
.info-iti-create .value2{
    display: flex;
    align-items: center;

}
.info-iti-create .select2{
    display: flex;
    align-items: center;

}
.info-iti-create{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -220px;
    margin-top: 10px;
}
.desc3:focus{
    background-color: #e3eccf;
}


.nameiti3{
    width: 100%;
    min-height: 30px;
    align-items: center;
    display:flex;
    border-radius: 10px;
    background-color:white ;
    border-width: medium;
    border-style: solid;
    border-color:white ;

}

.ende1{
  position: relative;
  left: 135px;
  top: 15px;
  
}
.ende3{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color:white;
    border: none;
    border-width: medium;
    border-style: solid;
    border-color:white ;
    width: 50%;
    outline: none;transition: .7s ease-in-out;
    position:  relative;
    position: relative;
    left: 135px;
}
.select1{
    margin-top:25px;


}
label {
    margin-top: 20px;
}
.campo{
    margin-top: 40px;
}

.campo1 input{
    border-radius: 32px;
    padding: 7px;
    padding-left: 15px;
    outline: none;
    transition: .7s ease-in-out;
    border-bottom: 2px solid white;

}
.campo1 input:focus{
    background-color: #e3eccf;
}

.campo1 select {
    border-radius: 32px;
    outline: none;
    transition: .7s ease-in-out;
}
}}