* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.perfil-usuario{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 1000px;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(40, 161, 71, 0.479);
    padding: 160px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(6, 133, 69, 0.2), 
                0 6px 20px 0 rgba(14, 156, 9, 0.19);
}
.meu-perfil{
    position: relative;
    font-size: 50px;
    margin-top: -1000px;
    left: 190px;
    top: 50px;
    white-space: nowrap;
    display: flex;
    color: #012e1bff;
    background-color: rgb(255, 255, 255); 
    padding-left: 100px;
    padding-right: 80px; 
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(6, 133, 69, 0.2), 
                0 6px 20px 0 rgba(14, 156, 9, 0.19);

}
.box{
    color:#012e1bff;
    position: relative;
    left: -100px;
    top: 30px;
}



section.secaoPerfil{
    align-items: center;
    justify-content: center;
    display: flex;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 150px;
    min-width: 150px;
}

.button-dados{
    border-radius: 25px;
    background-color: #012e1bff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -18px;
    margin-left: 350px;
    border: none;
    /* border-bottom: 2px solid #5b6b54ff; */
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    width: 270px;
}
.button-dados:hover{
    background-color:#ebf5d7;
    border:#012e1bff;
    color:rgb(127, 133, 125);
    /* border-bottom: 2px solid #5b6b54ff; */

}

.perfil{
    align-items: center;
    justify-content: center;
    display: flex;
}
.perfil-foto{
    display: flex;
    width: 280px;
    height: 280px;
    align-items: center;
    justify-content: center;
    border: 7px solid #012e1bff;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, -2);
    position:relative;
    overflow: hidden;
    margin-bottom: 20px;
    left: -90px;
}
.info-emp{
    margin-top: 5px;
    margin-left: 200px;
    display: flex;

}

.info-media .bio2{
    display: flex;
    align-items: center;
}
.info-media .nome{
    display: flex;
    align-items: center;

}
.info-media .tele{
    display: flex;
    align-items: center;

}
.info-media .email1{
    display: flex;
    align-items: center;

}
.info-media .datan1{
    display: flex;
    align-items: center;

}
.info-media .gener1{
    display: flex;
    align-items: center;
}
.info-media{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -205px;
    margin-top: 10px;
}
.bio2{
    position: relative;
}
.bio3{
    padding: 10px;
    border-radius: 25px;
    background-color:white;
    border: none;
    border-width: medium;
    border-style: solid;
    border-color:white ;
    width: 100%;
    height: auto;
    outline: none;transition: .7s ease-in-out;
    position: relative;
    margin-bottom: 10px;

}
.bio3:focus{
    background-color: #e3eccf;
}

.gener2{
    border-radius: 25px;
    background-color:white;
    border: none;
    border-width: medium;
    border-style: solid;
    border-color:white ;
    height: auto;
    outline: none;transition: .7s ease-in-out;
    position: relative;
    top: 10px;
}
.gener3{
    position: relative;
    top: 10px;
}
.campo{
    margin-top: 40px;
}

.campo1 input{
    border-radius: 32px;
    padding: 7px;
    padding-left: 15px;
    outline: none;
    transition: .7s ease-in-out;
    border-bottom: 2px solid white;

}
.campo1 input:focus{
    background-color: #e3eccf;
}

.campo1 select {
    border-radius: 32px;
    outline: none;
    transition: .7s ease-in-out;
}
#foto{
    display: none;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #012e1bff;
    transition: 7s ease-in-out;
    position: relative;
    left: -80px;
    cursor: pointer;
} 

.bx-image-alt{
    font-size: 25px;
    color: whitesmoke;
}
.bx {
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak-as: none;
    -webkit-font-smoothing: antialiased;
}
/* Menu responsivo */

@media screen and (max-width: 768px){

    .perfil-usuario{
        width: 85%;
        height: 900px;
        position: absolute;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }


    .button-dados{
        position: relative;
        top: 50px;
        left: -175px;
        white-space : nowrap

    }

    .bio2{ 
        position: relative;
        left: 100px;
    }
    .bio3{
        position: relative;
        left: 100px;
        width: 70%;
    }
    .gener2{
        position: relative;
        left: 100px;
    }
    .gener3{
        position: relative;
        left: 100px;
    }
    .meu-perfil{
        left: 200px;
        top: 85px;
        font-size: 40px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .foto{
        position: relative;
        left: -70px;
        width: 40px;
        height: 40px;
        
    }

    .perfil-foto{
        width: 230px;
        height: 230px;
        position: relative;
        left: -80px;
    }
}
@media screen and (max-width: 600px){
    .perfil-usuario{
        width: 85%;
        height: 900px;
        position: absolute;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }


    .button-dados{
        position: relative;
        top: 50px;
        left: -175px;
        white-space : nowrap

    }

    .bio2{ 
        position: relative;
        left: 135px;
    }
    .bio3{
        position: relative;
        left: 135px;
        width: 60%;
    }
    .gener2{
        position: relative;
        left: 135px;
    }
    .gener3{
        position: relative;
        left: 135px;
    }
    .meu-perfil{
        left: 200px;
        top: 85px;
        font-size: 40px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .foto{
        position: relative;
        left: -70px;
        width: 40px;
        height: 40px;
        
    }

    .perfil-foto{
        width: 230px;
        height: 230px;
        position: relative;
        left: -80px;
    }
}
@media screen and (max-width: 500px){

    .perfil-usuario{
        width: 85%;
        height: 900px;
        position: absolute;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }


    .button-dados{
        position: relative;
        top: 50px;
        left: -125px;
        white-space : nowrap

    }

    .bio2{ 
        position: relative;
        left: 205px;
    }
    .bio3{
        position: relative;
        left: 205px;
        width: 50%;
    }
    .gener2{
        position: relative;
        left: 205px;
    }
    .gener3{
        position: relative;
        left: 205px;
    }
    .meu-perfil{
        left: 200px;
        top: 85px;
        font-size: 40px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .foto{
        position: relative;
        left: -35px;
        width: 40px;
        height: 40px;
        
    }

    .perfil-foto{
        width: 230px;
        height: 230px;
        position: relative;
        left: -35px;
    }
}

