@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'beatrice';
    src: url(../fonts/BeatriceDisplay.ttf);
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
    /* CSS HEX */
    /* --mint-cream: #d8e7e0ff; */
    --jungle-green: #46a07aff;
    --cadmium-green: #026b3fff;
    --dark-green: #012e1bff;
    --black-coffee: #3a2e39ff;
    --fundo: #FAFFFD;
    /* CSS HEX */
    --mint-cream: #ECF5F3ff;
    --aero-blue: #C9EFE0ff;
    --op-aero-blue: rgba(255, 255, 255, 0.493);
    --emerald: rgba(0, 204, 119, 0.489);
    --op-emerald: rgba(0, 204, 119, 0.479);

    --british-racing-green: #13442Eff;
    font-family: 'Urbanist', sans-serif;
}


main {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container{    
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    width: 90vw;
    background-color: var(--op-aero-blue);
    border: 2px solid var(--op-aero-blue);
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.left{
    border-right: .1rem solid #dadada;
    padding-top: 2rem;

}

.container .fotos{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.fotos img{
    border-radius: 10px;
}

.fotos .content {
    height: 520px;
    width: 935px;
    border-radius: 15px;
    overflow: hidden;
    position: static;
    /* top: 55%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    margin-top: 30px;
    border: 2px solid var(--emerald);
}



.navigation {
    margin-top: 20px;
    display: flex;
}

.bar {
    width: 25px;
    height: 25px;
    border: 2px solid var(--jungle-green);
    background-color: var(--jungle-green);
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
   box-shadow: 0px 0px 10px rgba(106, 106, 106, 0.2);
}

.bar:hover {
    background-color: var(--mint-cream);
}

input[type=radio]{
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    /* min-width: 935px; */
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

#slide6:checked ~ .s1 {
    margin-left: -83.5%;
}

section.fotos{
    display: block;
    height: calc(100vh - 65px);
}









.description {
    border-radius: 10px;
    padding: 40px;
    background-color: var(--op-aero-blue);
    margin: 30px;
    /* box-shadow: 5px 5px 20px #012e1b1f; */
    
    border: 2px solid var(--op-aero-blue);
}

.description h2{
    font-family: 'beatrice';
    text-align: center;
    text-align: center;
    font-size: 2rem;
    margin: 0 -40px 3rem -40px;
    color: var(--cadmium-green);
    background-color: var(--op-aero-blue);
    border-top: 2px solid var(--op-aero-blue);
    border-bottom: 2px solid var(--op-aero-blue);
}

.titulo h1{
    font-family: 'beatrice';
    color: var(--cadmium-green);
    text-align: center;
    font-size: 2.2rem;
}

.description p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 2em;
}







.cards-pt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardPt{
    width: 250px;
    height: 300px;
    /* background-color: var(--op-emerald); */
    border-radius: 10px;
    font-size: 15px;
    margin: 30px;
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    border:  2px solid rgba(255, 255, 255, 0);
    transition: all .5s;
}

.cardPt:hover{
    border:  2px solid var(--emerald);
}

.cardPt a {
    /* color: #8ea382; */
    color: var(--cadmium-green);
    text-decoration: none;
}

.cardPt a:hover{
    text-decoration: underline;
}

.right .bx {
    color: var(--cadmium-green);
    font-size: 100px;
}













/* MAPA */

.mapa-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, .4);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    overflow-y: scroll; 
    max-width: 1800px;
    flex-wrap: wrap;
    z-index: 1;

}

.mapa {
    width: auto;
    height: auto;

}

span.hide {
    float: right;
    width: 30px;
    cursor: pointer;
    background-color: var(--aero-blue);
    text-align: center;
    line-height: 30px;
    border-radius: 25%;
    transition: .2s;
}

span.hide:hover{
    background-color: var(--jungle-green);
}

.show-modal{
    transform: scale(1.0);
    opacity: 1;
    visibility: visible;
}












/* AREA DOS GUIAS */

.guarda-guias {
    width: 100%;
    height: 100%;
}

.modal-guias{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, .4);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    overflow-y: scroll; 
    max-width: 1800px;
    flex-wrap: wrap;
    z-index: 1;

}
.cards-guias {
    /* background-color: #c2d8b6bb; */
    padding: 30px;
    border-radius: .5rem;
}

span.hide {
    float: right;
    width: 30px;
    cursor: pointer;
    background-color: #e2e9c9;
    text-align: center;
    line-height: 30px;
    border-radius: 25%;
}

span.hide:hover{
    background-color: #8ea382;
}

.show-modal{
    transform: scale(1.0);
    opacity: 1;
    visibility: visible;
}




.modal-content{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardGuia{
    width: 250px;
    height: 300px;
    background-color: var(--op-aero-blue);
    border-radius: 15px;
    border: 2px solid #ffffff00;
    font-size: 15px;
    margin: 30px;
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    transition: all .5s;
}

.cardGuia:hover{
    border: 2px solid var(--emerald);
}

.cardGuia a {
    /* color: #9e9e9e; */
    color: #eaeedc;
    text-decoration: none;
}

@media (max-width:1490px){
    
    .container{    
        display: grid;
        grid-template-columns: 1fr;
        width: 90vw;
    }

    .left {
        border-right: none;
        padding-top: 2rem;
        max-width: 90vw;
    }

    

    .fotos .content {
        height: auto;
        width: auto;
        max-width: 85vw;
    }

    .bar {
        width: 15px;
        height: 15px;
    }

    .description{
        padding: 10px;
        margin: 5px;
    }

    .description h2 {
        font-size: 1.5rem;
        margin: 0 -20px 3rem -20px;
    }

    .description p {
        font-size: 18px;
        line-height: 32px;
        margin-top: 2em;
    }

    
    span.fonte{
        font-size: 8px;
    }
    
    .mapa{
        max-width: 80vw;
    }
}